.icon-btn-sm {
    width: 18px;
}

.icon-btn-md {
    width: 24px;
}

$base-transition: .3s;
$accent-color: #3490dc;

/*СПИННЕР (ГЛАВНЫЙ)==========================*/
#tMainSpinner {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    transition: $base-transition;
    background: rgba(0,0,0,0.6);
    box-sizing: content-box;

    .spinner {
        margin: 0 12.5% 100px;
        width: 100px;
        height: 100px;
        border: 2px solid $accent-color;
        border-radius: 50%;
        animation: spin 0.75s infinite linear;
        display: inline-block;
        border-color: transparent;
        border-top-color: #0cf;
        animation-duration: 1.2s;

        &:before,
        &:after {
            left: -2px;
            top: -2px;
            position: absolute;
            content: '';
            width: inherit;
            height: inherit;
            border: inherit;
            border-radius: inherit;
            display: inline-block;
            border-color: transparent;
            border-top-color: #0cf;
            animation-duration: 1.2s;
        }

        &:before {
            transform: rotate(120deg);
        }

        &:after {
            transform: rotate(240deg);
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*==========================================*/

@page {
    size: USER;
    margin: 0;
}

@media print {
    body {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-family: Arial !important;
        font-size: 12px;
    }
    .bar-card {
        margin: 0;
        padding: 15px 0 0 15px;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
        font-family: Arial !important;
        font-size: 12px;
    }
}
